.container {
  width: 100%;
  background-color: #6bc6fb;
}

.topBar {
  background-color: #ffffff;
  display: flex;
}

.leftSection{
  width: 150px;
  height: 150px;
}

.rightSection{
  width: 600px;
}

.rightSection p{
  padding-right: 50px;
}

.imgTop {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-left: 25px;
}